::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background-color: var(--indent-color);
    outline: 1px solid var(--accent-hover-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-hover-color);
    cursor: pointer;
}